<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>La guerre c'est l'enfer!</title>
    
    <link rel="icon" type="image/png" sizes="16x16" href="../public/assets/images/favicon.png"><!-- Favicon -->
    <link rel="stylesheet" type="text/css" href="../public/assets/css/reset.css"><!-- CSS Reset File -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"><!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css?family=Black+Ops+One|Oswald" rel="stylesheet"><!-- Google Fonts -->
    <link rel="stylesheet" type="text/css" href="../public/assets/css/style.css"><!-- Custom CSS -->
</head>

<body>
    <section class="banner">
        <div class="container text-center col-md-12">
            <h1>L'Attaque!</h1>
            <p class="tagline">
                Tu as coulé mon cuirassé!
            </p>
            <a class="btn btn-full" href="./authentication-register.html">CRY HAVOC</a>
        </div>
    </section>
</body>

</html>