<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Leaderboard</title>

    <link rel="icon" type="image/png" sizes="16x16" href="./assets/images/favicon.png"><!-- Favicon -->
    <link href="./assets/dist/css/style.min.css" rel="stylesheet"><!-- Custom CSS -->
</head>

<body>

    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>

    <div id="main-wrapper">

        <header class="topbar" data-navbarbg="skin5">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">

                <div class="navbar-header" data-logobg="skin5">
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)">
                        <i class="ti-menu ti-close"></i>
                    </a>

                    <a class="navbar-brand" href="/index">

                        <b class="logo-icon p-l-10">
                            <img src="./assets/images/logo-icon.png" alt="homepage" class="light-logo" />
                        </b>
                        <span class="logo-text">
                            <img src="./assets/images/logo-text.png" alt="homepage" class="light-logo" />
                        </span>
                    </a>
                    <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)"
                        data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <i class="ti-more"></i>
                    </a>
                </div>

                <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                    <ul class="navbar-nav float-left mr-auto">
                        <li class="nav-item d-none d-md-block">
                            <a class="nav-link sidebartoggler waves-effect waves-light" href="javascript:void(0)"
                                data-sidebartype="mini-sidebar">
                                <i class="mdi mdi-menu font-24"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- <ul class="navbar-nav float-right">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="javascript:void(0)"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="./assets/images/user.jpg" alt="user" class="rounded-circle" width="31">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right user-dd animated">
                                <a class="dropdown-item" href="javascript:void(0)">
                                    <i class="ti-user m-r-5 m-l-5"></i> My Profile
                                </a>
                                <a class="dropdown-item" href="javascript:void(0)">
                                    <i class="ti-settings m-r-5 m-l-5"></i> Account Setting
                                </a>
                                <a class="dropdown-item" href="javascript:void(0)">
                                    <i class="fa fa-power-off m-r-5 m-l-5"></i> Logout
                                </a>
                            </div>
                        </li>
                    </ul> -->
                </div>

            </nav>
        </header>

        <aside class="left-sidebar" data-sidebarbg="skin5">
            <div class="scroll-sidebar">
                <nav class="sidebar-nav">
                    <ul id="sidebarnav" class="p-t-30">
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/game" aria-expanded="false">
                                <i class="fas fa-anchor"></i>
                                <span class="hide-menu">New Battle</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/rules"
                                aria-expanded="false">
                                <i class="fas fa-book"></i>
                                <span class="hide-menu">Rules of Engagement</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/leaderboard"
                                aria-expanded="false">
                                <i class="fas fa-clipboard-list"></i>
                                <span class="hide-menu">Leaderboard</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/statistics"
                                aria-expanded="false">
                                <i class="fas fa-chart-bar"></i>
                                <span class="hide-menu">Statistics</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>

        <div class="page-wrapper">

            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h4 class="page-title">Leaderboard</h4>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row">

                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Meet the Elite</h5>
                                <p>
                                    These brave sailors represent the best of the best. Can you knock someone off the
                                    board and earn a place among the elite?
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">#1 Fleet Admiral</h5>
                                <div class="row">
                                    <div class="col-md-5">
                                        <br>
                                        <img src="./assets/images/user.jpg" alt="user" class="rounded-circle" width="45">
                                        <strong>Username</strong>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="peity_line_neutral left text-center m-t-10">
                                            <span>
                                                <span style="display: none;">10,15,8,14,13,10,10</span>
                                                <canvas width="50" height="24"></canvas>
                                            </span>
                                            <h6>10%</h6>
                                        </div>
                                    </div>
                                    <div class="col-md-2 border-left text-center p-t-10">
                                        <h3 class="mb-0 font-weight-bold">150</h3>
                                        <span class="text-muted">Wins</span>
                                    </div>
                                    <div class="col-md-2 border-left text-center p-t-10">
                                        <h3 class="mb-0 font-weight-bold">150</h3>
                                        <span class="text-muted">Losses</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">#2 Admiral</h5>
                                <div class="row">
                                    <div class="col-md-5">
                                        <br>
                                        <img src="./assets/images/user.jpg" alt="user" class="rounded-circle" width="45">
                                        <strong>Username</strong>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="peity_line_neutral left text-center m-t-10">
                                            <span>
                                                <span style="display: none;">10,15,8,14,13,10,10</span>
                                                <canvas width="50" height="24"></canvas>
                                            </span>
                                            <h6>10%</h6>
                                        </div>
                                    </div>
                                    <div class="col-md-2 border-left text-center p-t-10">
                                        <h3 class="mb-0 font-weight-bold">150</h3>
                                        <span class="text-muted">Wins</span>
                                    </div>
                                    <div class="col-md-2 border-left text-center p-t-10">
                                        <h3 class="mb-0 font-weight-bold">150</h3>
                                        <span class="text-muted">Losses</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">#3 Vice Admiral</h5>
                                <div class="row">
                                    <div class="col-md-5">
                                        <br>
                                        <img src="./assets/images/user.jpg" alt="user" class="rounded-circle" width="45">
                                        <strong>Username</strong>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="peity_line_neutral left text-center m-t-10">
                                            <span>
                                                <span style="display: none;">10,15,8,14,13,10,10</span>
                                                <canvas width="50" height="24"></canvas>
                                            </span>
                                            <h6>10%</h6>
                                        </div>
                                    </div>
                                    <div class="col-md-2 border-left text-center p-t-10">
                                        <h3 class="mb-0 font-weight-bold">150</h3>
                                        <span class="text-muted">Wins</span>
                                    </div>
                                    <div class="col-md-2 border-left text-center p-t-10">
                                        <h3 class="mb-0 font-weight-bold">150</h3>
                                        <span class="text-muted">Losses</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">#4 Rear Admiral</h5>
                                <div class="row">
                                    <div class="col-md-5">
                                        <br>
                                        <img src="./assets/images/user.jpg" alt="user" class="rounded-circle" width="45">
                                        <strong>Username</strong>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="peity_line_neutral left text-center m-t-10">
                                            <span>
                                                <span style="display: none;">10,15,8,14,13,10,10</span>
                                                <canvas width="50" height="24"></canvas>
                                            </span>
                                            <h6>10%</h6>
                                        </div>
                                    </div>
                                    <div class="col-md-2 border-left text-center p-t-10">
                                        <h3 class="mb-0 font-weight-bold">150</h3>
                                        <span class="text-muted">Wins</span>
                                    </div>
                                    <div class="col-md-2 border-left text-center p-t-10">
                                        <h3 class="mb-0 font-weight-bold">150</h3>
                                        <span class="text-muted">Losses</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">#5 Commodore</h5>
                                <div class="row">
                                    <div class="col-md-5">
                                        <br>
                                        <img src="./assets/images/user.jpg" alt="user" class="rounded-circle" width="45">
                                        <strong>Username</strong>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="peity_line_neutral left text-center m-t-10">
                                            <span>
                                                <span style="display: none;">10,15,8,14,13,10,10</span>
                                                <canvas width="50" height="24"></canvas>
                                            </span>
                                            <h6>10%</h6>
                                        </div>
                                    </div>
                                    <div class="col-md-2 border-left text-center p-t-10">
                                        <h3 class="mb-0 font-weight-bold">150</h3>
                                        <span class="text-muted">Wins</span>
                                    </div>
                                    <div class="col-md-2 border-left text-center p-t-10">
                                        <h3 class="mb-0 font-weight-bold">150</h3>
                                        <span class="text-muted">Losses</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">#6 Captain</h5>
                                <div class="row">
                                    <div class="col-md-5">
                                        <br>
                                        <img src="./assets/images/user.jpg" alt="user" class="rounded-circle" width="45">
                                        <strong>Username</strong>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="peity_line_neutral left text-center m-t-10">
                                            <span>
                                                <span style="display: none;">10,15,8,14,13,10,10</span>
                                                <canvas width="50" height="24"></canvas>
                                            </span>
                                            <h6>10%</h6>
                                        </div>
                                    </div>
                                    <div class="col-md-2 border-left text-center p-t-10">
                                        <h3 class="mb-0 font-weight-bold">150</h3>
                                        <span class="text-muted">Wins</span>
                                    </div>
                                    <div class="col-md-2 border-left text-center p-t-10">
                                        <h3 class="mb-0 font-weight-bold">150</h3>
                                        <span class="text-muted">Losses</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">#7 Commander</h5>
                                <div class="row">
                                    <div class="col-md-5">
                                        <br>
                                        <img src="./assets/images/user.jpg" alt="user" class="rounded-circle" width="45">
                                        <strong>Username</strong>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="peity_line_neutral left text-center m-t-10">
                                            <span>
                                                <span style="display: none;">10,15,8,14,13,10,10</span>
                                                <canvas width="50" height="24"></canvas>
                                            </span>
                                            <h6>10%</h6>
                                        </div>
                                    </div>
                                    <div class="col-md-2 border-left text-center p-t-10">
                                        <h3 class="mb-0 font-weight-bold">150</h3>
                                        <span class="text-muted">Wins</span>
                                    </div>
                                    <div class="col-md-2 border-left text-center p-t-10">
                                        <h3 class="mb-0 font-weight-bold">150</h3>
                                        <span class="text-muted">Losses</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">#8 Lieutenant Commander</h5>
                                <div class="row">
                                    <div class="col-md-5">
                                        <br>
                                        <img src="./assets/images/user.jpg" alt="user" class="rounded-circle" width="45">
                                        <strong>Username</strong>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="peity_line_neutral left text-center m-t-10">
                                            <span>
                                                <span style="display: none;">10,15,8,14,13,10,10</span>
                                                <canvas width="50" height="24"></canvas>
                                            </span>
                                            <h6>10%</h6>
                                        </div>
                                    </div>
                                    <div class="col-md-2 border-left text-center p-t-10">
                                        <h3 class="mb-0 font-weight-bold">150</h3>
                                        <span class="text-muted">Wins</span>
                                    </div>
                                    <div class="col-md-2 border-left text-center p-t-10">
                                        <h3 class="mb-0 font-weight-bold">150</h3>
                                        <span class="text-muted">Losses</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">#9 Lieutenant</h5>
                                <div class="row">
                                    <div class="col-md-5">
                                        <br>
                                        <img src="./assets/images/user.jpg" alt="user" class="rounded-circle" width="45">
                                        <strong>Username</strong>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="peity_line_neutral left text-center m-t-10">
                                            <span>
                                                <span style="display: none;">10,15,8,14,13,10,10</span>
                                                <canvas width="50" height="24"></canvas>
                                            </span>
                                            <h6>10%</h6>
                                        </div>
                                    </div>
                                    <div class="col-md-2 border-left text-center p-t-10">
                                        <h3 class="mb-0 font-weight-bold">150</h3>
                                        <span class="text-muted">Wins</span>
                                    </div>
                                    <div class="col-md-2 border-left text-center p-t-10">
                                        <h3 class="mb-0 font-weight-bold">150</h3>
                                        <span class="text-muted">Losses</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">#10 Lieutenant Junior Grade</h5>
                                <div class="row">
                                    <div class="col-md-5">
                                        <br>
                                        <img src="./assets/images/user.jpg" alt="user" class="rounded-circle" width="45">
                                        <strong>Username</strong>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="peity_line_neutral left text-center m-t-10">
                                            <span>
                                                <span style="display: none;">10,15,8,14,13,10,10</span>
                                                <canvas width="50" height="24"></canvas>
                                            </span>
                                            <h6>10%</h6>
                                        </div>
                                    </div>
                                    <div class="col-md-2 border-left text-center p-t-10">
                                        <h3 class="mb-0 font-weight-bold">150</h3>
                                        <span class="text-muted">Wins</span>
                                    </div>
                                    <div class="col-md-2 border-left text-center p-t-10">
                                        <h3 class="mb-0 font-weight-bold">150</h3>
                                        <span class="text-muted">Losses</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <footer class="footer text-center">
                Copyright © 2018 by <a href="https://github.com/apleek3/projectdeux">These Guys</a>.
            </footer>

        </div>

    </div>

    <script src="./assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="./assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="./assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="./assets/libs/sparkline/sparkline.js"></script>
    <script src="./assets/dist/js/waves.js"></script>
    <script src="./assets/dist/js/sidebarmenu.js"></script>
    <script src="./assets/dist/js/custom.min.js"></script>
    <script src="./assets/libs/chart/matrix.interface.js"></script>
    <script src="./assets/libs/chart/jquery.peity.min.js"></script>

</body>

</html>