<!-- <!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>User Manager</title>

	<link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/flatly/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="../css/styles.css" media="screen" title="no title">
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container">
		<div class="row mt-4">
			<div class="col-md-2 col-sm-2">
				<a class="btn btn-light" href="/battleship">Go to Battleship</a>
			</div>
			<div class="col-md-2 col-sm-2">
				<a class="btn btn-light" href="/cms">New Game</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 offset-md-2">
				<div class="user-container">
					<h1>Users</h1>
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Name</th>
								<th># of Games</th>
								<th>See User's Games</th>
								<th>New Game</th>
								<th>Delete User</th>
							</tr>
						</thead>
						<tbody>
							<tr id="form-row">
								<form id="user-form">
									<td colspan="4">
										<input placeholder="Enter a name" id="user-name" type="text" />
									</td>
									<td><button type="submit" class="btn btn-success">Create User</button>
									</td>
								</form>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		</d> -->
<!-- Custom Script
		<script src="../js/user.js" type="text/javascript"></script> -->

<!-- </body>

</html> -->
<!---------------------------------------------------------------------------------------------------------------->


<!DOCTYPE html>
<html dir="ltr">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Register</title>

	<link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicon.png"><!-- Favicon -->
	<link rel="stylesheet" type="text/css" href="../assets/css/reset.css"><!-- CSS Reset File -->
	<link href="../assets/dist/css/style.min.css" rel="stylesheet"><!-- Custom CSS -->
</head>

<body>

	<div class="main-wrapper">

		<div class="preloader">
			<div class="lds-ripple">
				<div class="lds-pos"></div>
				<div class="lds-pos"></div>
			</div>
		</div>

		<div class="auth-wrapper d-flex no-block justify-content-center align-items-center bg-dark">
			<div class="auth-box bg-dark border-top border-secondary">

				<div class="text-center p-t-20 p-b-20">
					<span class="db">
						<img src="../assets/images/attaque.jpg" alt="logo" />
					</span>
				</div>

				<div class="user-container">

					<table class="table table-striped">
						<thead>
							<tr>
								<th>Name</th>
								<th># of Games Played</th>
								<th>See User's Games</th>
								<th>New Game</th>
								<th>Delete User</th>
							</tr>
						</thead>
						<tbody>
							<tr id="form-row">
								<!------------------------------------------------------------------------------->
								<form id="user-form" class="form-horizontal m-t-20" action="/game">

									<div class="row p-b-30">
										<div class="col-12">

											<div class="input-group mb-3">
												<div class="input-group-prepend">
													<span class="input-group-text bg-success text-white" id="basic-addon1">
														<i class="ti-user"></i>
													</span>
												</div>
												<input id="user-name" type="text" class="form-control form-control-lg" placeholder="Username" aria-label="Username"
												 aria-describedby="basic-addon1" required>
											</div>

											<div class="input-group mb-3">
												<div class="input-group-prepend">
													<span class="input-group-text bg-danger text-white" id="basic-addon1">
														<i class="ti-email"></i>
													</span>
												</div>
												<input id="email" type="text" class="form-control form-control-lg" placeholder="Email Address" aria-label="Username"
												 aria-describedby="basic-addon1" required>
											</div>

											<!-- <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-warning text-white" id="basic-addon2">
                                            <i class="ti-pencil"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control form-control-lg" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1" required>
                                </div>

                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-info text-white" id="basic-addon2">
                                            <i class="ti-pencil"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control form-control-lg" placeholder=" Confirm Password" aria-label="Password" aria-describedby="basic-addon1" required>
                                </div> -->



											<div class="row m-t-20 p-t-20">
												<div class="col-12">
													<a class="btn btn-success" href="/game" id="to-login" name="action">Registered. Let's play!</a>
													<button class="btn btn-info float-right" type="submit" name="action">Register</button>
												</div>
											</div>
										</div>

									</div>



								</form>
								<!------------------------------------------------------------------------------->
							</tr>
						</tbody>
					</table>
				</div>

			</div>
		</div>

	</div>


	<script src="../assets/libs/jquery/dist/jquery.min.js"></script>
	<script src="../assets/libs/popper.js/dist/umd/popper.min.js"></script>
	<script src="../assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="../js/user.js" type="text/javascript"></script>

	<script>
		$('[data-toggle="tooltip"]').tooltip();
		$(".preloader").fadeOut();
	</script>

</body>

</html>